label[for="upload"] {
    cursor: pointer;
    border: 3px solid #aaa;
    border-top-color: rgba(0, 0, 255, 0.2);
    border-left-color: rgba(255, 0, 0, 0.2);
    border-bottom-color: rgba(0, 128, 0, 0.2);
    border-right-color: rgba(255, 165, 0, 0.2);
    padding: 23px 68px;
    border-radius: 50%;
    transition: all .3s linear;
    /* transition: transform .5s ease; */
}
label[for="upload"]:hover {
    border-bottom-color: blue!important;
    border-right-color: red;
    border-top-color: green;
    border-left-color: orange;
}
.custom-checkbox label.custom-control-label {
    cursor: pointer;
}

.cancel-button {

}
.p-p {
    animation: p-p .8s ease 0s 1;
}
@keyframes p-p {
    0%{
        margin-left:10px;
        opacity: 0;
    }
    100% {
        margin-left:0px;
        opacity: 1;
    }
}
